*{
    margin:0;
}
body{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100vh;
}
.box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
section{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: rgb(44, 4, 44);
}